from flask import Flask, render_template


app = Flask(__name__)


@app.route("/{{ app_name }}")
def {{ app_name }}():
    return render_template("{{ app_name }}.html")


if __name__ == "__main__":
    app.run(debug=True)
